@import 'src/assets/sass/variables.scss';

.Report {
  .List {
    padding: 20px;
    border-radius: 20px;
    background: $grey-secondary;
    .list-main {
      .Table {
        height: 275px;
        overflow-y: scroll;
      }
    }
  }
}
