@import 'src/assets/sass/variables.scss';

.Report {
  .HeaderReport {
    display: flex;
    padding: 20px;
    padding-left: 0px;
    .header-title {
      margin-right: 20px;
      h2 {
        margin: 0;
        color: $wine;
        font-size: 2rem;
        font-family: $font-semibold;
      }
    }
    .header-actions{
      button{
        background-color: $white;
      }
    }
  }
}
