@import 'src/assets/sass/variables.scss';

.Channel {
  .ListChannel {
    padding: 20px;
    border-radius: 20px;
    background: $grey-secondary;
    .list-main {
      .Table {
        height: calc(100vh - 280px);
        overflow-y: scroll;
        table{
          tr{
            cursor: pointer;
            &:hover{
              background-color: $grey-secondary;
            }
          }
        }
      }
    }
  }
}
