$white: #fff;
$black: #000;
$green:#27ae60;

$ice: #F4F1F5;

$wine: #6B3D5C;
$orange: #FFA372;
$yellow: #ffc72c;
$purple: #8300B9;
$purple-secondary: #A461D8;

$grey: #F4F1F5;
$grey-dark: #DAD5DC;
$grey-secondary: #E8E2EA;

$error: #f44336;
$primary: #512B58;
$subtitle :#9A929D;

$label: #F4F1F5;
$title: #211725;
$dark3: #716974;
$dark4: #9A929D;

// Fonts
$font-regular: 'Poppins';
$font-bold: 'Poppins Bold';
$font-semibold: 'Poppins SemiBold';
$font-extrabold: 'Poppins ExtraBold';
